<div class="todos-list-wrapper">
  <!-- list -->
  <mat-card *ngFor="let todo of todos$ | async">
    <!-- header -->
    <mat-card-header>
      <mat-icon
        *ngIf="todo.isComplete"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="check_circle"
        [color]="todo.isComplete ? 'primary' : 'accent'"
      ></mat-icon>
      <mat-card-title>{{ todo.title }}</mat-card-title>
    </mat-card-header>

    <!--  content  -->
    <mat-card-content *ngIf="!!todo.description">
      <p>{{ todo.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Complete</button>
      <button mat-button color="primary">Edit</button>
      <button mat-button color="warn">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
