<div class="todos-list-wrapper">
  <!-- search -->
  <mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="search" />
    <button
      *ngIf="search"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="search = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- list -->
  <mat-card *ngFor="let todo of (todos$ | async) || [] | filterTodos: search">
    <!-- header -->
    <mat-card-header>
      <mat-card-title>{{ todo.title }}</mat-card-title>
      <mat-card-subtitle>{{ todo.createdAt | date }}</mat-card-subtitle>
    </mat-card-header>

    <!--  content  -->
    <mat-card-content *ngIf="!!todo.description">
      <p>{{ todo.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="toggleCompleteTodo(todo)">
        {{ todo.isComplete ? "Complete" : "In complete" }}
      </button>
      <button mat-button color="primary" (click)="openEditTodoDialog(todo)">
        Edit
      </button>
      <button mat-button color="warn" (click)="deleteTodo(todo)">Delete</button>
    </mat-card-actions>
  </mat-card>

  <!-- no result -->
  <mat-card *ngIf="((todos$ | async) || [] | filterTodos: search).length === 0">
    No todos found
  </mat-card>
</div>
